@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background: #0C498A;
    text-align: center;
    color: #fff;
    padding: 50px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
ul{
    text-align: left;
}
img{
    width: 150px;
}
ul li{
    list-style: none;
}